<%- include("./partials/header.ejs") %>

<div class="container">
  <h1 class="title">Contact us</h1>
  <p class="body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam in excepturi
    debitis mollitia enim deserunt cupiditate esse, ipsa ut. Iusto cupiditate
    ipsam, iste quia facilis maxime fuga inventore nulla repellendus minima
    mollitia qui. Voluptatibus nisi quod, assumenda tempora incidunt officia,
    odit dolore nam consectetur commodi rerum sed nostrum deserunt error veniam
    iure possimus eaque molestias laudantium est. Ipsam magni doloribus
    cupiditate ex architecto quaerat perspiciatis, delectus cumque dolorum
    veritatis! Dolorem dicta numquam sed nemo voluptate impedit eligendi, magni,
    similique ipsam corporis qui. Nulla, animi facilis nemo eaque facere, id
    aspernatur iusto sint, voluptate hic ullam aliquam quasi esse aperiam totam!
  </p>
</div>
<%- include("./partials/footer.ejs") %>
